$font-size: 12px;
$text-field-outlined-fieldset-border: 1px solid #E1E0E1;
$text-field-filled-full-width-outlined-slot-min-height: unset;
$btn-font-weight: 600;
$text-field-solo-control-min-height: unset;
$border-radius-root: 3px;
$tabs-bar-background-color: "transparent";
$tab-font-size: 13px;
$tab-font-weight: 600;
